.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading
				%h3= @workout.date.strftime("%A, %B %m %l:%M %P %Y")
			.panel-body
				.row
					.col-md-4
						%span Body Part:
						#{@workout.workout}
					.col-md-4
						%span Mood:
						#{@workout.mood}
					.col-md-4
						%span Length:
						#{@workout.length} minutes
.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-body
				= render "exercises/exercise"
.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading
				%h3 Add an exercise
			.panel-body
				= render "exercises/form"
			.panel-footer
				= link_to "Back", root_path, class: "btn btn-default"
				= link_to "Edit", edit_workout_path(@workout), class: "btn btn-default"
				= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
